*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color:seagreen;
    font-family: 'Rosario', sans-serif;
    font-size: 5vh;
    }

header{
       
    height: 20vh;
    text-align: left;
    line-height: 20vh;
    position: relative;
    left:10%;    
}



nav{
    display: flex;
    justify-content: center;
    column-gap: 10%;
    height: 10vh;    
}
a:link{
    text-decoration-line: none;
    color: blue;    
}

a:hover {
    background-color:turquoise ;
}

a:active {
    background-color: red;
}

a:visited {
    background-color: white;
}


main{
   
    display: flex;
    height: 60vh;

}

footer{
    
    display: flex;
    flex-direction: column;
    height: 10vh;
    text-align: right;
    position: relative;
    left: -3%;
        
}
