*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color:mintcream;
    font-family: 'Rosario', sans-serif;
    font-size: 5vh;
    }

header{
       
    height: 15vh;
    text-align: left;
    line-height: 20vh;
    text-align: center;
}



nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    height: 10vh;     
}
a:link{
    text-decoration-line: none;
    color: seagreen;    
}

a:hover {
    background-color:turquoise ;
}

a:active {
    background-color: red;
}

a:visited {
    background-color: skyblue;
}


main{
   
    display: flex;
    height: 60vh;

}

footer{
    
    display: flex;
    flex-direction: column;
    height: 10vh;
    text-align: right;
    font-size: 2.5vh;
    text-align: center;
        
}
span {
    background-color: seagreen;
    color: yellow;
}
@media screen and (min-width: 480px){

}