*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(47, 160, 122);
    font-family: 'Rosario', sans-serif;
    }

header{
       
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    
}



nav{
    display: flex;
    justify-content: center;
    column-gap: 10%;
    height: 10vh;
    
}
main{
   
    height: 60vh;

}

footer{
    
    height: 10vh;
    text-align: right;
    position: relative;
    left: -3%;
    
}
